extends layout

block content
  .home
    h2 Home
    br
    a(href="/states") Click here for the list of states
    br
    a(href="/countries") Click here for the list of countries
    br
    a(href="/ytest") Ytest
    